
body{
    background: #8c9eff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card{
    text-align: center;
    background: #5870cb;
    margin-top: 25%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 3px 10px  #000;
    text-transform: capitalize;
}

.weather-descriptions{
    letter-spacing: 3px;
    line-height: 20px;
    font-weight: 600;
    color: rgb(126, 212, 212);
}

